version: '3'

services:
  app:
    build: .
    container_name: next_app
    restart: always
    expose:
      - "3000"

  nginx:
    image: nginx:latest
    container_name: nginx_server
    restart: always
    ports:
      - "80:80"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - app
